<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Mes Rdv</title>
</head>
<body >
    <div class="back" >
        <nav class="navbar pull-right" >
            <ul class="nav navbar-nav"style="margin-bottom:0px;background:black;">
                <li><a href="/acceuil"><i class="fas fa-home"></i> Accueil</a></li>
                <li><a href="/realisation"> <i class="fas fa-wrench"></i> Realisation</a></li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fab fa-steam"></i> Nos services<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/achat">Achat de pieces</a></li>
                            <li><a href="/rendezvous">Rendez-vous</a></li>
                            <li><a href="/location">Location de vehicules</a></li>
                        </ul>
                </li>
                <li class="dropdown pull-right"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 20px;"></i>
                {{# if session.cart.totalItems }}
                <span>({{session.cart.totalItems}})</span>
                {{/if}}
            </a>
            {{# if session.cart.totalItems }}
            <div class="dropdown-menu">
                <div class="cart">
                    {{# each session.cart.items }}
                    <div class="row">
                        <div class="col-xs-4">
                            {{ this.item.title }}
                        </div>
                        <div class="col-xs-4 text-right">
                            <span class="badge">{{ this.quantity }}</span>
                        </div>
                        <div class="col-xs-4 text-right">
                            {{ this.price }} 
                        </div>
                    </div>
                    {{/each}}
                    <div class="row">
                        <div class="text-right">
                            <div class="totalPrice">Total: {{ session.cart.totalPrice }} FCFA</div>
                            <a href="/mescommandes" class="btn btn-success">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            </li> 
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-box" style="font-size: 20px;"></i><span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="/mescommandes">Mes Commandes</a></li>
                            <li><a href="/meslocations">Mes Locations</a></li>
                            <li><a href="/mesrendezvous">Mes Rendez-vous</a></li>
                        </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid font">
        <h1 style="margin-top: 100px;color: #FA8072;">Profil></h1>
    </div>
    <div class="container-fluid">

                            <div class="container-fluid">
                                <h1 style="text-align: center">Mes Rendez-vous</h1><br>
                                {{#if results }}
                                <table class="table" id="mytable">
                                    <thead >
                                        <tr >
                                            <th style="text-align:center;">Marque</th>
                                            <th style="text-align:center;">Modele</th>
                                            <th style="text-align:center;">Jour</th>
                                            <th style="text-align:center;">Immatriculation</th>
                                            <th style="text-align:center;">prestation</th>
                                            <th style="text-align: center;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each results }}
                                        <tr>
                                            <td style="text-align:center;">{{marque_rdv}}</td>
                                            <td style="text-align:center;">{{modele_rdv}}</td>
                                            <td style="text-align:center;">{{jour_rdv}}</td>
                                            <td style="text-align:center;">{{immatriculation_rdv}}</td>
                                            <td style="text-align: center;">{{prestation_rdv}}</td>
                                            <td style="text-align:center;"> <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id_rdv }}">Annuler</a></td>
                                        </tr>
                                        {{/each}}

                                    </tbody>
                                </table>
                                {{ else }}
                           <h3>Vous n'avez pas de Rendez-vous</h3> 
                            {{/if}}
                            </div>
                            <form id="add-row-form" action="/delete" method="post">
                                <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                                <h5 class="modal-title" id="myModalLabel">Annuler la reservation </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                                                        <strong>Etes vous sûr de vouloir Annuler la reservation?</strong>
                                        </div>
                                        <div class="modal-footer">
                                                                    <input type="hidden" name="id" class="form-control product_id2" required>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                <button type="submit" class="btn btn-success">Annuler</button>
                                        </div>
                                            </div>
                                    </div>
                                </div>
                            </form>
                            
            </div>

    <section class="section">
        <div class="container-fluid">
            <h1 class="titre" >Nos Cordonnées</h1>
            <div class="col-sm-3">
                <h4 class="titre"style="text-decoration:underline;">Contact & Horaire</h4>
                <p><a href="/"><i class="fas fa-sign-out-alt"></i> Logout</a></p>
                <p><i class="fas fa-map-marker-alt"></i>    Angré Gestoci,non loin du CHU angré</p>
                <p><i class="fas fa-phone"></i> +225 49792733</p>
                <p><i class="fas fa-phone"></i> +225 40221520</p>
                <p><i class="fas fa-envelope"></i>  bassolehermann@gmail.com</p>
                <p><i class="far fa-clock"></i> 7j/7   24h/24</p>
            </div>
            <div class="col-sm-6 "style="border-right:1px solid white;border-left: 1px solid white;">
                <h4 class="titre" style="text-decoration:underline;" >Localisation</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.1051845029083!2d-3.9594970849227566!3d5.400943096082718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1933d4b2186d5%3A0xf64a1036251b83a4!2snouveau+CHU+angre!5e0!3m2!1sfr!2sci!4v1557743058050!5m2!1sfr!2sci" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-3">
                <h4 class="titre"style="text-decoration:underline;">Reseaux Sociaux</h4>
                <ul>
                    <li style="list-style: none;"><i class="fab fa-facebook-f"></i>   FaceBook</li>
                    <li style="list-style: none;"><i class="fab fa-twitter"></i>  Twitter</li>
                    <li style="list-style: none;"><i class="fab fa-instagram"></i>    Instragram</li>
                    <li style="list-style: none;"><i class="fab fa-youtube"></i>  Youtube</li>
                </ul>
            </div>
        </div>
    </section>

    <script>
    $(document).ready(function(){
			//showing modal for delete record
		$('#mytable').on('click','.delete',function(){
        var id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.product_id2').val(id);
      });

    });
</script>
</body>
</html>